.usfm .document {
  font-family: Arial, Helvetica, sans-serif;
}

.usfm .section {
  width: 100%;
}

.usfm .marker {
  font-weight: bolder;
  font-size: 0.9em;
}

.usfm .c .number {
  font-size: 2.2em;
  color: initial;
}

.usfm .c .marker,
.usfm .v .marker {
  color: blue;
}

.usfm .v .marker,
.usfm .v .number {
  font-size: 0.9em;
  vertical-align: super;
}

.usfm .v .number {
  color: initial;
}

.usfm .p .marker,
.usfm .s .marker,
.usfm .s1 .marker,
.usfm .s2 .marker,
.usfm .s3 .marker,
.usfm .s4 .marker,
.usfm .s5 .marker,
.usfm .ts .marker {
  color: green;
}

.usfm .pseudo-block.s,
.usfm .pseudo-block.s1,
.usfm .pseudo-block.s2 {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  padding: 0.05em 0.2em;
}

.usfm .footnote,
.usfm .endnote {
  font-weight: lighter;
  font-size: small;
  vertical-align: super;
}

.usfm .f {
  color: orange;
}

.usfm .fe {
  color: coral;
}

.usfm .fk,
.usfm .ft,
.usfm .fr {
  color: orangered;
}

.usfm .w,
.usfm .zaln-s,
.usfm .zaln-e {
  color: purple;
}

.usfm .pseudo-block {
  display: block;
}

.usfm .tr,
.usfm .tl {
  color: red;
}

.usfm .attribute {
  font-size: 0.8em;
  font-style: italic;
}

.usfm .block {
  border-bottom: gray 1px solid;
  padding: 0.05em 0.2em;
}

.usfm .preview .block {
  border-bottom: none;
}

.usfm .preview .pseudo-block.v {
  white-space: normal;
  display: inline;
}

.usfm .preview .pseudo-block.c {
  margin-top: 2em;
  white-space: normal;
}

.usfm .preview .pseudo-block.c ~ .s {
  margin-top: 2em;
}

.usfm .preview .pseudo-block.s + .c {
  margin-top: unset;
}

.usfm .preview .pseudo-block.c + .p {
  display: none;
}

.usfm .preview .pseudo-block.c .number {
  margin: 0 0.2em;
  float: left;
}

.usfm .preview .marker,
.usfm .preview .attribute {
  display: none;
}

.usfm .preview .rtl .pseudo-block.c .number {
  float: right;
}

.usfm .preview .header {
  font-weight: bolder;
  text-align: center;
  display: block;
}

.usfm .preview .header.id,
.usfm .preview .header.ide {
  display: none;
}

.usfm .preview .header.h,
.usfm .preview .header.toc1 {
  font-size: 2em;
  margin-top: 2em;
}

.usfm .preview .header.toc2,
.usfm .preview .header.toc3 {
  font-size: 1.5em;
  margin-top: 1.5em;
}

.zaln {
  display: inline-block;
  margin: 0 0.2em;
  padding: 0.1em 0.3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.zaln .word {
  display: inline-block;
  margin: 0 0.1em;
}

.zaln .word .content {
  font-weight: bold;
}

.zaln .word .attributes {
  font-size: 0.8em;
  color: #666;
}
